.navrow{
    flex-grow: 0 !important;
}
.navitem{

}
.navitem a{
    font-size: 17px;
    font-weight: 600 !important;
    color: #39414A !important;  
}
.navitemActive :global(.show):focus{
    font-size: 17px;
    font-weight: 600 !important;
    color: #D957F9 !important;
    
 }
 .navitemActive :global(.nav-link):hover{
    font-size: 17px;
    font-weight: 600 !important;
    color: #D957F9 !important;
 }

 .navitemActive :global( .show):focus::after{
    content: url(../../public/icons/chevronup.svg) !important;
  border: none !important;
  vertical-align: 0.215em !important;
  font-size: 17px;
  font-weight: 600 !important;
  color: #D957F9 !important;
 }
.navitem2 a{
    font-size: 17px;
    font-weight: 600 !important;
    color: #39414A !important;  
}
.dropdown-menu{
    font-size: 20px  !important;
    font-weight: 400 !important;

}
.navsubitems{
    font-size: 20px !important;
    font-weight: 400;
}
.navsubitems:active{
    color:#5932EA !important;
font-weight: 700 !important;
}
.navsubitems2{
    font-size: 18px !important;
    font-weight: 400;
    display: flex;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&display=swap');
.Nav_active{
color:#5932EA !important;
font-weight: 700 !important;
}
.nav_content span{
    font-size: 14px;
}
.nav_des{
    color: #686E76;

}
.nav_content{
    padding: 16px 35px !important;
}
.nav_content_active{
    background-color: #F8F6FF !important ;
}
.nav_content2{
    padding: 3px 10px !important;
}

.navitem2 div{
    box-shadow: 0px 0px 8px #0a141e21 !important;
    border: none !important;
    height: 420px !important;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px ;
    grid-auto-flow: column;
    column-gap: 30px;
    left: -77px !important;
    grid-auto-columns: 270px;  
    padding-left: 20px !important;
    padding-right: 20px;
}

.navitem div {
    box-shadow: 0px 0px 8px #0a141e21 !important;
    border: none !important;
    height: 433px !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 30px;
    left: -300px !important;
    grid-auto-columns: 270px;
    padding-left: 20px !important;
    padding-right: 20px;
}
.numberSpan{
    color: #808080;
}

.nav_border{
    border-bottom: 1px solid #DEDFE4 !important;

}
.hamburger{
    border-right: 2px solid #F5F5F5;;
}

.nav_bar{
    /* box-shadow: 0px 7px 5px -10px #000000; */

}
.navContainer{
    /* box-shadow: 0px 7px 5px -10px #000000; */
    box-shadow: 0px 2px 4px rgba(39, 53, 70, 0.1)
}
@media screen and (max-width: 992px) {
    .nav_bar{
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
    margin: 2px !important;
    padding: 7px !important;
    }
    .navContainer{
        margin: 0px;
    }
    .tblogo{
        height: 25px;
        width: 25px;
    }
    .tblogoName{
        height: 28px;
    }
}