
.listingdiv :global(.main){
    margin: 0px 300px;
}
@media screen and (max-width: 1600px)
{
.listingdiv :global(.main) {
    margin: 0px 100px;
}}
@media screen and (max-width: 1300px)
{
.listingdiv :global(.main) {
    margin: 0px 10px !important;
}}
.products_listing_div{
    background-color: #EDF2FA;
}
.searchbar img {
    left: 13px;
}

.searchbar input {
    padding-left: 2.5rem !important;
}
.dropdowns img {
    left: 15px;
}
.h1{
    font-size: 26px;
}
.filter_btn{
    background: #EDF2FA !important; 
    color:#100146
  }


  .filter_btn:global(.btn):active{
    color:#D957F9
  }
  .filter_btn:global(.btn):hover{
    color:#D957F9
  }