.recomended_div{
    background-color: #EDF2FA;
    padding-top: 100px;
    padding-bottom: 100px;
}
.recomended_div :global(.main){
    margin: 0px 321px;
}
@media screen and (max-width: 1600px) {

.recomended_div :global(.main){
    margin: 0px 152px;
}
}
.re_h1{
    font-size: 2.3rem;
}
.re_paragraph_div{
    display: flex;
    justify-content: flex-end;
    width: 95%;
}
.para{
    order: 1;
    display: flex !important;
    margin-left: auto; 

}
.arrows{
    order: 2; /* places this element second */
    margin-left: auto; 
}

.slider_arrow{
    position: absolute;
    height: 75%;
    width: 100%;
    /* top: 148%; */
}
.arrow_btn_div {
    /* top: 6%;s */
    z-index: 1;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .arrow_btn_div_right {
    /* top: 6%; */
    z-index: 1;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .arrow_btn_btn {
    opacity: .6;
    background: rgba(0, 0, 0, 0.5) !important;
    border-radius: 0px !important;
    height: 40px;
  }
  .re_link{
    color:#5932EA;
    text-decoration: underline;
    font-size: 1.3rem;
  }
@media screen and (max-width: 1024px) {
    .slider_div{
    width: 300;
    }
    .recomended_div :global(.main){
        margin: 0px 0px !important;
    }
    .para{
        margin-left: 0px;
    }
    }
    @media screen and (max-width: 1440px){
    .recomended_div :global(.main) {
    margin: 0px 60px ;
}}
@media screen and (max-width: 500px) {
    .re_h1{
        font-size: 40px;
    }
    .re_link{
        font-size: 1.1rem;
    }
    .para{
        font-size: 14px;
    }
    .slider_arrow{
        height: 73%;
        /* top: 148%; */
    }
    .arrow_btn_div{
        width: 48px;
    }
    .arrow_btn_div_right{
        width: 48px;
    }
}