.SignDiv {
    padding: 64px 48px;
}
.bannerText{
    font-size: 24px !important;
    color: #0d0c22;
    line-height: 29px;
}
.signup_content__line_break {
    position: relative;
    margin: 30px 0;
}
.divider {
    border-top: 1px solid #dbdbde;
}
.signup_content__or {
    position: absolute;
    top: -11px;
    left: 46%;
    padding: 0 8px;
    background: #fff;
    color: #6e6d7a;
    font-family: var(--font-face, "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.modal{
    padding: 0px  !important;
}
.cross{
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 770px;
    margin: 0;
    transition: color 200ms ease;
    color: #0d0c22;
    text-decoration: none;
}