


@media screen and (max-width: 1600px)
{
.specs_div :global(.main) {
    margin: 0px 100px;
}}
@media screen and (max-width: 1300px)
{
.specs_div :global(.main) {
    margin: 0px 10px !important;
}}
.filter_btn{
    background: #EDF2FA !important; 
    color:#100146
  }


  .filter_btn:global(.btn):active{
    color:#D957F9
  }
  .filter_btn:global(.btn):hover{
    color:#D957F9
  }.filter_btn{
    background: #EDF2FA !important; 
    color:#100146
  }


  .filter_btn:global(.btn):active{
    color:#D957F9
  }
  .filter_btn:global(.btn):hover{
    color:#D957F9
  }
  .h1{
    font-size: 26px;
}